@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-family: "Hiragino Sans", "Neue Haas Grotesk Display Pro";
  color: #3B3532;
  font-size: 1.6rem;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #3B3532;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

header .home-container {
  display: flex; /* 启用 Flexbox 帜局 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  height: 100vh;
  background-color: #5CB5DD;
  position: relative; /* 设置相对定位 */
  z-index: 1;
}
header .home-container .earth-container {
  position: absolute;
  top: 61vh;
  left: 34vw;
}
header .home-container .earth-container #earth {
  position: absolute;
  top: 0;
  left: 0;
  width: 7vw;
  height: auto;
  z-index: 11;
}
header .home-container .earth-container #earth1 {
  position: absolute;
  top: 0.5vw;
  left: -1.4vw;
  width: 9vw;
  height: auto;
  z-index: 20;
}
header .home-container .bgtest {
  display: flex; /* 启用 Flexbox 帜局 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  width: 100vw;
  height: 100vh;
  position: absolute; /* 设置相对定位 */
  z-index: 2;
}
header .home-container .image-bg {
  position: absolute;
  z-index: 10;
  /* 初始化宽度和高度 */
}
header .home-container .image-bg:nth-child(2) {
  top: 43vh;
  left: 21vw;
}
header .home-container .image-bg:nth-child(2) img {
  width: 9.5vw;
  height: auto;
}
header .home-container .image-bg:nth-child(3) {
  top: 49vh;
  left: 31vw;
}
header .home-container .image-bg:nth-child(3) img {
  width: 1.9vw;
  height: auto;
}
header .home-container .image-bg:nth-child(4) {
  top: 44vh;
  left: 30.5vw;
}
header .home-container .image-bg:nth-child(4) img {
  width: 2.3vw;
  height: auto;
}
header .home-container .image-bg:nth-child(5) {
  top: 46vh;
  left: 33.4vw;
}
header .home-container .image-bg:nth-child(5) img {
  width: 5vw;
  height: auto;
}
header .home-container .image-bg:nth-child(6) {
  top: 43.2vh;
  left: 38.7vw;
}
header .home-container .image-bg:nth-child(6) img {
  width: 4.8vw;
  height: auto;
}
header .home-container .image-bg:nth-child(7) {
  top: 44.8vh;
  left: 45vw;
}
header .home-container .image-bg:nth-child(7) img {
  width: 4.3vw;
  height: auto;
}
header .home-container .image-bg:nth-child(8) {
  top: 33vh;
  left: 49vw;
}
header .home-container .image-bg:nth-child(8) img {
  width: 5.3vw;
  height: auto;
}
header .home-container .image-bg:nth-child(9) {
  top: 40.8vh;
  left: 48vw;
  z-index: 9;
}
header .home-container .image-bg:nth-child(9) img {
  width: 3.1vw;
  height: auto;
}
header .home-container .image-bg:nth-child(10) {
  top: 41vh;
  left: 54vw;
}
header .home-container .image-bg:nth-child(10) img {
  width: 4.9vw;
  height: auto;
}
header .home-container .image-bg:nth-child(11) {
  top: 36vh;
  left: 61vw;
}
header .home-container .image-bg:nth-child(11) img {
  width: 8vw;
  height: auto;
}
header .home-container .image-bg:nth-child(12) {
  top: 37vh;
  left: 70vw;
}
header .home-container .image-bg:nth-child(12) img {
  width: 2.8vw;
  height: auto;
}
header .home-container .image-bg:nth-child(13) {
  top: 31vh;
  left: 67.7vw;
}
header .home-container .image-bg:nth-child(13) img {
  width: 3.4vw;
  height: auto;
}
header .home-container .image-bg:nth-child(14) {
  top: 62vh;
  left: 25vw;
}
header .home-container .image-bg:nth-child(14) img {
  width: 6vw;
  height: auto;
}
header .home-container .image-bg:nth-child(16) {
  top: 58vh;
  left: 45.8vw;
}
header .home-container .image-bg:nth-child(16) img {
  width: 6vw;
  height: auto;
}
header .home-container .image-bg:nth-child(17) {
  top: 62vh;
  left: 53vw;
}
header .home-container .image-bg:nth-child(17) img {
  width: 4.6vw;
  height: auto;
}
header .home-container .image-bg:nth-child(18) {
  top: 59vh;
  left: 58vw;
}
header .home-container .image-bg:nth-child(18) img {
  width: 6.4vw;
  height: auto;
}
header .home-container .image-bg:nth-child(19) {
  top: 56vh;
  left: 64.2vw;
}
header .home-container .image-bg:nth-child(19) img {
  width: 6.3vw;
  height: auto;
}
header .home-container .image-bg:nth-child(20) {
  top: 52.7vh;
  left: 71.2vw;
}
header .home-container .image-bg:nth-child(20) img {
  width: 5.2vw;
  height: auto;
}
header .home-container .image-bg:nth-child(21) {
  top: 50.3vh;
  left: 76.8vw;
}
header .home-container .image-bg:nth-child(21) img {
  width: 5.2vw;
  height: auto;
}
header .home-container #mainShape {
  position: absolute;
  z-index: 4;
  top: 51%;
  left: 51%;
  transform: translate(-50%, -50%); /* 向左和向上移动自身宽高的50% */
  width: 75vw;
  height: auto;
}
header .home-container #mainShape .path {
  fill: none; /* 确保图形内部透明 */
  stroke: #fff100; /* 设置路径的颜色为黄色 */
  stroke-miterlimit: 1;
  stroke-width: 0.22rem; /* 设置路径的宽度 */
}
header .home-container #mainShape2 {
  position: absolute;
  z-index: 3;
  top: 49%;
  left: 49%;
  transform: translate(-50%, -50%); /* 向左和向上移动自身宽高的50% */
  width: 75vw;
  height: auto;
}
header .home-container #mainShape2 .path {
  fill: none; /* 确保图形内部透明 */
}

.main {
  position: absolute;
  top: 100vh;
  width: 100%;
  background-color: #EFEFEF;
}

main #overview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EFEFEF;
}
main #overview .overview—container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5vw;
  width: 70vw;
}
main #overview .overview—container .overview-title-img {
  margin-top: 3vw;
}
main #overview .overview—container .overview-title-img img {
  width: 30vw;
  height: auto;
}
main #overview .overview—container p {
  width: 62vw;
  color: #3B3532;
  font-family: "Hiragino Sans";
  font-size: 9.6rem;
  font-style: normal;
  font-weight: 1000;
  line-height: 126px;
  letter-spacing: 6.72px;
  margin-top: 2vw;
  margin-bottom: 1vw;
  padding-left: 2vw;
  z-index: 10;
}
main #overview .overview—container p .custom-size {
  font-size: 20rem; /* 或者任何你需要的大小 */
}
main #overview .overview—container p .static-color {
  color: #366AB3; /* 设置为你想要的固定颜色 */
}
main #overview .overview—container .reveal-type {
  color: transparent; /* 初始透明 */
  -webkit-text-stroke: 1px #3B3532;
}
main #overview .overview-bg-text {
  position: absolute;
  top: 50%;
  left: -8vw;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
main #overview .overview-bg-text span {
  width: max-content;
  color: #DFDFDF;
  font-family: "Hiragino Sans";
  font-size: 50rem;
  font-style: normal;
  font-weight: 900;
  z-index: 1;
  letter-spacing: -12px;
  writing-mode: vertical-rl;
}
main #overview .overview-l1 {
  position: absolute;
  top: 20%;
  left: -10vw;
  z-index: 2;
}
main #overview .overview-l1 img {
  width: 20vw;
  height: auto;
  transform: rotate(-15deg);
  transform-origin: top left;
}
main #overview .overview-r1 {
  position: absolute;
  top: 40%;
  right: -5vw;
  z-index: 2;
}
main #overview .overview-r1 img {
  width: 20vw;
  height: auto;
  transform: rotate(15deg);
  transform-origin: top right;
}
main #overview .overview-l2 {
  position: absolute;
  top: 60%;
  left: -5vw;
  z-index: 2;
}
main #overview .overview-l2 img {
  width: 15vw;
  height: auto;
  transform: rotate(-10deg);
  transform-origin: top left;
}
main #overview .overview-r2 {
  position: absolute;
  top: 80%;
  right: -8vw;
  z-index: 2;
}
main #overview .overview-r2 img {
  width: 15vw;
  height: auto;
  transform: rotate(15deg);
  transform-origin: top right;
}
main #project-intent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #DCDCD2;
  padding: 10vw 20vw;
  height: 100vh;
  width: auto;
}
main #project-intent p {
  color: #366AB3;
  font-family: "Hiragino Sans";
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 6rem; /* 175% */
  letter-spacing: -0.96px;
}
main #project-intent p .point-color {
  color: #6EBD6C;
}
main #project-intent .horizontal-line {
  margin-top: 2vw;
  margin-bottom: 1vw;
  display: inline-block;
  width: 1.6vw; /* 控制横线长度 */
  height: 0.23vw; /* 控制横线厚度 */
  background-color: #6EBD6C; /* 控制横线颜色 */
}
main #project-intent .project-intent-text {
  color: #6EBD6C;
  font-family: "Hiragino Sans";
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.64px;
  margin-bottom: 0.2vw;
}
main #project-intent .project-intent-director {
  color: #366AB3;
  font-family: "Hiragino Sans";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.64px;
}
main #project-intent .quote-l {
  position: absolute;
  top: 16vh;
  left: 16vw;
  z-index: 1;
}
main #project-intent .quote-l img {
  width: 12vw;
  height: auto;
}
main #project-intent .quote-r {
  position: absolute;
  bottom: 30vh;
  right: 16vw;
  z-index: 1;
}
main #project-intent .quote-r img {
  width: 12vw;
  height: auto;
}
main #story {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  background-color: #EFEFEF;
}
main #story #story-bg {
  display: block;
  width: 100vw; /* 宽度为100%，等同于100vw */
  height: auto; /* 高度自动，保持图片比例 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
main #story .yLine {
  position: absolute;
  top: 60vh;
  overflow: hidden;
}
main #story .summary {
  position: relative;
  padding: 5vw;
  max-width: 90vw;
}
main #story .summary h2 {
  color: #EFEFEF;
  font-family: "lumios-brush", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.2rem;
  text-align: center;
  margin-top: 2vw;
  z-index: 11;
}
main #story .summary .one-liner-story {
  color: #EFEFEF;
  font-family: "Hiragino Sans";
  font-weight: 900;
  font-style: normal;
  font-size: 6.4rem;
  text-align: center;
  margin-top: 6vw;
  z-index: 11;
}
main #story .summary .story-content {
  color: #EFEFEF;
  font-family: "Hiragino Sans";
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  margin-top: 4vw;
  padding: 2vw;
  line-height: 3rem; /* 195% */
  letter-spacing: 0.04rem;
  z-index: 11;
}
main #staff {
  width: 100vw;
}
main #staff .staff-header {
  width: 100vw;
  height: 8vw;
  background-color: #366AB3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #3B3532 0.8rem solid;
}
main #staff .supervisor {
  display: grid;
  grid-template-columns: 1fr 2fr auto; /* 三列：第一列和第三列各占1份，第二列占2份 */
  grid-template-rows: 1fr auto; /* 第一行根据内容自动调整高度，第二行占1份 */
  padding: 3vw 2vw 3vw 5vw;
  background-color: #EFEFEF;
  border-bottom: #3B3532 0.8rem solid;
}
main #staff .supervisor .supervisor-title {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main #staff .supervisor .supervisor-title h2 {
  color: #3B3532;
  font-family: "Hiragino Sans";
  font-size: 12.8rem;
  font-style: normal;
  font-weight: 700;
}
main #staff .supervisor .supervisor-title h3 {
  color: #3B3532;
  font-family: "Hiragino Sans";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  margin-left: 0.5vw;
  margin-top: 2vw;
}
main #staff .supervisor .supervisor-info {
  grid-column: 2;
  grid-row: 1;
}
main #staff .supervisor .supervisor-info h3 {
  color: #3B3532;
  font-family: "Hiragino Sans";
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  margin-top: 0.5vw;
  margin-bottom: 1vw;
}
main #staff .supervisor .supervisor-info span {
  display: block;
  color: #3B3532;
  font-family: "Hiragino Sans";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
}
main #staff .supervisor .supervisor-image {
  grid-column: 3/4;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #staff .supervisor .supervisor-image img {
  width: 20vw;
  height: auto;
}
main #staff .supervisor .supervisor-details {
  grid-column: 1/3;
  grid-row: 2;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
main #staff .supervisor .supervisor-details .work-item {
  margin: 5px;
  text-align: left;
  flex: 1 1 auto; /* 允许子元素根据内容自动调整宽度 */
}
main #staff .supervisor .supervisor-details .work-item h4 {
  color: #3B3532;
  font-family: "Hiragino Sans";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0.2vw;
}
main #staff .supervisor .supervisor-details .work-item span {
  display: block;
  color: #3B3532;
  font-family: "Hiragino Sans";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 250;
  padding-left: 0.5vw;
  text-align: left;
}
main #staff .staff-list {
  width: 100vw;
  background-color: #EFEFEF;
}
main #staff .staff-list .staff-card {
  border-bottom: #3B3532 0.8rem solid;
}
main #staff .staff-list .staff-card .staff-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 8vw;
  padding: 0 5vw;
}
main #staff .staff-list .staff-card .staff-item .staff-item-L {
  display: flex;
  justify-content: center;
  align-items: center;
}
main #staff .staff-list .staff-card .staff-item .staff-item-L span {
  color: #3B3532;
  font-family: "Hiragino Sans";
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 900;
}
main #staff .staff-list .staff-card .staff-item .staff-item-R {
  display: flex;
  justify-content: center;
  align-items: center;
}
main #staff .staff-list .staff-card .staff-item .staff-item-R span {
  color: #3B3532;
  font-family: "Hiragino Sans";
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 600;
  margin-right: 2vw;
}
main #staff .staff-list .staff-card .staff-info {
  display: none;
  grid-template-rows: 1fr auto;
  padding: 0vw 5vw;
  background-color: #EFEFEF;
  margin-bottom: 3vw;
}
main #staff .staff-list .staff-card .staff-info .staff-title {
  display: flex;
  flex-direction: column;
}
main #staff .staff-list .staff-card .staff-info .staff-title span {
  display: block;
  color: #3B3532;
  font-family: "Hiragino Sans";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  margin-left: 0.5vw;
}
main #staff .staff-list .staff-card .staff-info .staff-title h3 {
  color: #3B3532;
  font-family: "Hiragino Sans";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  margin-left: 0.5vw;
  margin-top: 1.6vw;
}
main #staff .staff-list .staff-card .staff-info .staff-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main #staff .staff-list .staff-card .staff-info .staff-details .staff-work-item {
  margin: 5px;
  text-align: left;
  flex: 1 auto; /* 允许子元素根据内容自动调整宽度 */
}
main #staff .staff-list .staff-card .staff-info .staff-details .staff-work-item h4 {
  color: #3B3532;
  font-family: "Hiragino Sans";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0.2vw;
}
main #staff .staff-list .staff-card .staff-info .staff-details .staff-work-item span {
  display: block;
  color: #3B3532;
  font-family: "Hiragino Sans";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 250;
  padding-left: 0.5vw;
  text-align: left;
}
main #outline {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #3B3532;
  /* row#1  */
  /* row-2 */
  /* hero img */
  /* row #2 inner rows */
  /* those cols hang on */
  /* col #1  */
  /* marquee */
}
main #outline .outline-container {
  width: 100%;
  height: 90vh;
}
main #outline .border-right {
  border-right: 0.2rem solid #3B3532;
}
main #outline .border-bottom {
  border-bottom: 0.2rem solid #3B3532;
}
main #outline .flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
main #outline .row-1 {
  position: relative;
  top: -100%;
  width: 100%;
  height: 30vh;
  display: flex;
  background: #D9D9D9;
  z-index: 2;
}
main #outline .brand-name {
  position: relative;
  left: -100%;
  flex: 5;
}
main #outline .brand-name .outline-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
main #outline .brand-name .outline-header h2 {
  font-family: "mostra-nuova", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 12.8rem;
  letter-spacing: -1.2rem;
  color: #3B3532;
}
main #outline .brand-name .outline-header h2 .m, main #outline .brand-name .outline-header h2 .u, main #outline .brand-name .outline-header h2 .r2 {
  color: #F4C53A;
}
main #outline .brand-name .outline-header h2 .r, main #outline .brand-name .outline-header h2 .a, main #outline .brand-name .outline-header h2 .e2 {
  color: #366AB3;
}
main #outline .brand-name .outline-header h2 .l, main #outline .brand-name .outline-header h2 .s {
  color: #6EBD6C;
}
main #outline .brand-contact {
  position: relative;
  flex-direction: column;
  flex: 2;
}
main #outline .brand-contact .brand-contact-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/outline-bg1.png"); /* 替换成你的图片路径 */
  background-size: cover;
  background-position: center;
  opacity: 0;
  z-index: 25;
}
main #outline .brand-contact .contact-container {
  z-index: 30;
}
main #outline .brand-contact .contact-container .contact-container-t {
  font-size: 6.4rem;
}
main #outline .brand-contact .contact-container .contact-container-m {
  display: flex;
  align-items: center;
  justify-content: center; /* 使内容在横轴上居中 */
  gap: 1rem; /* 设置文字和SVG之间的间距 */
  font-family: "Hiragino Sans";
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 600;
}
main #outline .brand-contact .contact-container .contact-container-b {
  font-family: "Hiragino Sans";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
}
main #outline .row-2 {
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  z-index: 0;
}
main #outline .hero-copy {
  flex: 5;
}
main #outline .projects {
  overflow: hidden;
  position: relative;
}
main #outline .projects .outline-projects-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/outline-bg2.png"); /* 替换成你的图片路径 */
  background-size: cover;
  background-position: center;
  z-index: 20;
  opacity: 0;
}
main #outline .projects .outline-projects-stickers {
  position: absolute;
  top: 78%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 30;
}
main #outline .projects .outline-projects-stickers img {
  width: 15.3vw;
  height: auto;
  opacity: 0.3;
}
main #outline .projects .outline-projects-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 6.2rem;
  height: auto;
  z-index: 30;
  margin: 1vw 1vw 0 0;
  stroke: #3B3532;
}
main #outline .projects .project-list {
  z-index: 50;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main #outline .projects .project-list h3 {
  font-family: "Hiragino Sans";
  font-size: 6rem;
  font-style: normal;
  font-weight: 900;
  white-space: nowrap;
}
main #outline .circle-earch {
  position: relative;
  overflow: hidden;
  display: flex; /* 启用Flexbox布局 */
  justify-content: center;
  align-items: center;
}
main #outline .circle-earch #earth2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9vw;
  height: auto;
  z-index: 11;
  transform: translate(-50%, -50%); /* 确保图片居中 */
}
main #outline .circle-earch #earth3 {
  position: absolute;
  top: 50%; /* 调整相对于父容器中心的位置 */
  left: 49%;
  width: 13vw;
  height: auto;
  z-index: 20;
  transform: translate(-50%, -50%); /* 确保图片居中 */
}
main #outline .budget {
  position: relative;
  overflow: hidden;
}
main #outline .budget .budget-projects-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/staff-bg.svg"); /* 替换成你的图片路径 */
  background-size: cover;
  background-position: center;
  opacity: 0;
}
main #outline .budget .budget-projects-stickers {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main #outline .budget .budget-projects-stickers img {
  width: 15.3vw;
  height: auto;
  opacity: 0.3;
}
main #outline .budget .budget-projects-arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 6.2rem;
  height: auto;
  z-index: 2;
  margin: 0 1vw 1vw 0;
}
main #outline .budget .budget-list {
  z-index: 20;
}
main #outline .budget .budget-list h3 {
  font-family: "Hiragino Sans";
  font-size: 6rem;
  font-style: normal;
  font-weight: 900;
}
main #outline .news {
  position: relative;
  overflow: hidden;
}
main #outline .news .news-projects-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/outline-bg3.png"); /* 替换成你的图片路径 */
  background-size: cover;
  background-position: center;
  opacity: 0;
}
main #outline .news .news-projects-stickers {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main #outline .news .news-projects-stickers img {
  width: 15.3vw;
  height: auto;
  opacity: 0.3;
}
main #outline .news .news-projects-arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 6.2rem;
  height: auto;
  z-index: 2;
  margin: 0 1vw 1vw 0;
}
main #outline .news .news-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main #outline .news .news-list h3 {
  font-family: "Hiragino Sans";
  font-size: 6rem;
  font-style: normal;
  font-weight: 900;
  white-space: nowrap; /* 确保文本不换行 */
}
main #outline .hero-img {
  flex: 2;
}
main #outline .hero-img {
  display: flex;
}
main #outline .img-container {
  position: relative;
  overflow: hidden;
  flex: 3;
  height: 100%;
}
main #outline .img-container .box {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
main #outline .img-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* transform: scale(2); */
}
main #outline .img-container h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FDFDFD;
  font-family: "Hiragino Sans";
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  z-index: 20;
  writing-mode: vertical-rl; /* 设置竖排文本 */
  text-orientation: upright; /* 确保每个字是直立的 */
  letter-spacing: 4rem;
}
main #outline .empty-rows {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: #D9D9D9;
}
main #outline .white-space {
  width: 100%;
}
main #outline .white-space:nth-child(1) {
  flex: 3;
}
main #outline .white-space:nth-child(2) {
  flex: 2;
}
main #outline .row-2 {
  position: relative;
  top: -100%;
}
main #outline .hero-copy {
  display: flex;
  flex-direction: column;
}
main #outline .i-row {
  width: 100%;
  display: flex;
}
main #outline .i-row > .col {
  background: #D9D9D9;
}
main #outline .i-row1 {
  flex: 3;
}
main #outline .i-row2 {
  flex: 2;
}
main #outline .i-row .col:nth-child(1) {
  flex: 3;
}
main #outline .i-row .col:nth-child(2) {
  flex: 2;
}
main #outline .i-row1 .col:nth-child(1) {
  border-radius: 0 0 40px 0;
  border-right: 0.1rem solid #3B3532;
  border-bottom: 0.1rem solid #3B3532;
}
main #outline .i-row1 .col:nth-child(2) {
  border-radius: 0 0 0 40px;
  border-left: 0.1rem solid #3B3532;
  border-bottom: 0.1rem solid #3B3532;
}
main #outline .i-row2 .col:nth-child(1) {
  border-radius: 0 40px 0 0;
  border-right: 0.1rem solid #3B3532;
  border-top: 0.1rem solid #3B3532;
}
main #outline .i-row2 .col:nth-child(2) {
  border-radius: 40px 0 0 0;
  border-left: 0.1rem solid #3B3532;
  border-top: 0.1rem solid #3B3532;
}
main #outline .marquee {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  padding: 0.2em 0;
  white-space: nowrap;
  overflow: hidden;
  z-index: 3;
  background: #3B3532;
  display: flex;
  align-items: center;
}
main #outline .marquee span {
  text-transform: uppercase;
  font-weight: 800;
  color: #EFEFEF;
  font-size: 3.2rem;
  text-transform: uppercase;
  padding-left: -10%;
  animation: marquee-animation 180s linear infinite;
}
main #outline .marquee span svg {
  width: 1.6vw;
  height: auto;
}
@keyframes marquee-animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
main #outline .brand-name,
main #outline .brand-contact {
  position: relative;
  overflow: hidden;
}