@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-family: "ABC Monument Grotesk Semi-Mono Unlicensed Trial", "Hiragino Sans", "Neue Haas Grotesk Display Pro";
  color: #3B3532;
  font-size: 1.6rem;
  min-height: 100vh;
  background-color: #EFEFEF;
  overflow-x: hidden;
}

header .container {
  display: flex; /* 启用 Flexbox 帜局 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  height: 100vh;
  background-image: url("../img/123.png");
  position: relative; /* 设置相对定位 */
  z-index: 1;
}
header .container .bgtest {
  display: flex; /* 启用 Flexbox 帜局 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 0, 0, 0.3);
  position: absolute; /* 设置相对定位 */
  z-index: 2;
}
header .container .image-bg {
  position: absolute;
  z-index: 10;
  /* 初始化宽度和高度 */
}
header .container .image-bg:nth-child(2) {
  top: 43vh;
  left: 21vw;
}
header .container .image-bg:nth-child(2) img {
  width: 9.5vw;
  height: auto;
}
header .container .image-bg:nth-child(3) {
  top: 49vh;
  left: 31vw;
}
header .container .image-bg:nth-child(3) img {
  width: 1.9vw;
  height: auto;
}
header .container .image-bg:nth-child(4) {
  top: 44vh;
  left: 30.5vw;
}
header .container .image-bg:nth-child(4) img {
  width: 2.3vw;
  height: auto;
}
header .container .image-bg:nth-child(5) {
  top: 46vh;
  left: 33.4vw;
}
header .container .image-bg:nth-child(5) img {
  width: 5vw;
  height: auto;
}
header .container .image-bg:nth-child(6) {
  top: 43.2vh;
  left: 38.7vw;
}
header .container .image-bg:nth-child(6) img {
  width: 4.8vw;
  height: auto;
}
header .container .image-bg:nth-child(7) {
  top: 44.8vh;
  left: 45vw;
}
header .container .image-bg:nth-child(7) img {
  width: 4.3vw;
  height: auto;
}
header .container .image-bg:nth-child(8) {
  top: 33vh;
  left: 49vw;
}
header .container .image-bg:nth-child(8) img {
  width: 5.3vw;
  height: auto;
}
header .container .image-bg:nth-child(9) {
  top: 40.8vh;
  left: 48vw;
  z-index: 9;
}
header .container .image-bg:nth-child(9) img {
  width: 3.1vw;
  height: auto;
}
header .container .image-bg:nth-child(10) {
  top: 41vh;
  left: 54vw;
}
header .container .image-bg:nth-child(10) img {
  width: 4.9vw;
  height: auto;
}
header .container .image-bg:nth-child(11) {
  top: 36vh;
  left: 61vw;
}
header .container .image-bg:nth-child(11) img {
  width: 8vw;
  height: auto;
}
header .container .image-bg:nth-child(12) {
  top: 37vh;
  left: 70vw;
}
header .container .image-bg:nth-child(12) img {
  width: 2.8vw;
  height: auto;
}
header .container .image-bg:nth-child(13) {
  top: 31vh;
  left: 67.7vw;
}
header .container .image-bg:nth-child(13) img {
  width: 3.4vw;
  height: auto;
}
header .container .image-bg:nth-child(14) {
  top: 62vh;
  left: 25vw;
}
header .container .image-bg:nth-child(14) img {
  width: 6vw;
  height: auto;
}
header .container .image-bg:nth-child(15) {
  top: 63vh;
  left: 33vw;
}
header .container .image-bg:nth-child(15) img {
  width: 8vw;
  height: auto;
}
header .container .image-bg:nth-child(16) {
  top: 58vh;
  left: 45.8vw;
}
header .container .image-bg:nth-child(16) img {
  width: 6vw;
  height: auto;
}
header .container .image-bg:nth-child(17) {
  top: 62vh;
  left: 53vw;
}
header .container .image-bg:nth-child(17) img {
  width: 4.6vw;
  height: auto;
}
header .container .image-bg:nth-child(18) {
  top: 59vh;
  left: 58vw;
}
header .container .image-bg:nth-child(18) img {
  width: 6.4vw;
  height: auto;
}
header .container .image-bg:nth-child(19) {
  top: 56vh;
  left: 64.2vw;
}
header .container .image-bg:nth-child(19) img {
  width: 6.3vw;
  height: auto;
}
header .container .image-bg:nth-child(20) {
  top: 52.7vh;
  left: 71.2vw;
}
header .container .image-bg:nth-child(20) img {
  width: 5.2vw;
  height: auto;
}
header .container .image-bg:nth-child(21) {
  top: 50.3vh;
  left: 76.8vw;
}
header .container .image-bg:nth-child(21) img {
  width: 5.2vw;
  height: auto;
}