@charset "utf-8";
// 定义主要的字体颜色
$font-color: #3B3532;
$main-blue: #366AB3;
$main-yellow: #F4C53A;
$main-green: #6EBD6C;
$background-color: #EFEFEF;


html {
    font-size: 62.5%; // 1rem = 10px
}



body {
    font-family: "ABC Monument Grotesk Semi-Mono Unlicensed Trial", "Hiragino Sans", "Neue Haas Grotesk Display Pro";
    color: $font-color;
    font-size: 1.6rem;
    min-height: 100vh;
    background-color: $background-color;
    overflow-x: hidden;
    background-color: #3B3532;
}


// 头部样式
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
}
header{
    
    .home-container{
    display: flex; /* 启用 Flexbox 帜局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 100vh;
    background-color: #5CB5DD;
    position: relative; /* 设置相对定位 */
    z-index: 1;
        .bgtest{
            display: flex; /* 启用 Flexbox 帜局 */
            justify-content: center; /* 水平居中 */
            align-items: center; /* 垂直居中 */
            width: 100vw;
            height: 100vh;
            
            position: absolute; /* 设置相对定位 */
            z-index: 2;
        }
        .image-bg {
            position: absolute;
            z-index: 10;
            /* 初始化宽度和高度 */
            &:nth-child(2) {
                top: 43vh; left: 21vw;
                img {
                    width: 9.5vw;
                    height: auto;
                }
            }
            &:nth-child(3) {
                    top: 49vh; left: 31vw;
                    img {
                        width: 1.9vw;
                        height: auto;
                    }
            }
            &:nth-child(4) {
                top: 44vh; left: 30.5vw;
                img {
                    width: 2.3vw;
                    height: auto;
                }
            }
            &:nth-child(5) {
                top: 46vh; left: 33.4vw;
                img {
                    width: 5vw;
                    height: auto;
                }
            }
            &:nth-child(6) {
                top: 43.2vh; left: 38.7vw;
                img {
                    width: 4.8vw;
                    height: auto;
                }
            }
            &:nth-child(7) {
                top: 44.8vh; left: 45vw;
                img {
                    width: 4.3vw;
                    height: auto;
                }
            }
            &:nth-child(8) {
                top: 33vh; left: 49vw;
                img {
                    width: 5.3vw;
                    height: auto;
                }
            }
            &:nth-child(9) {
                top: 40.8vh; left: 48vw;
                z-index: 9;
                img {
                    width: 3.1vw;
                    height: auto;
                }
            }
            &:nth-child(10) {
                top: 41vh; left: 54vw;
                img {
                    width: 4.9vw;
                    height: auto;
                }
            }
            &:nth-child(11) {
                top: 36vh; left: 61vw;
                img {
                    width: 8vw;
                    height: auto;
                }
            }
            &:nth-child(12) {
                top: 37vh; left: 70vw;
                img {
                    width: 2.8vw;
                    height: auto;
                }
            }
            &:nth-child(13) {
                top: 31vh; left: 67.7vw;
                img {
                    width: 3.4vw;
                    height: auto;
                }
            }
            &:nth-child(14) {
                top: 62vh; left: 25vw;
                img {
                    width: 6vw;
                    height: auto;
                }
            }
            &:nth-child(15) {
                top: 63vh; left: 33vw;
                img {
                    width: 8vw;
                    height: auto;
                }
            }
            &:nth-child(16) {
                top: 58vh; left: 45.8vw;
                img {
                    width: 6vw;
                    height: auto;
                }
            }
            &:nth-child(17) {
                top: 62vh; left: 53vw;
                img {
                    width: 4.6vw;
                    height: auto;
                }
            }
            &:nth-child(18) {
                top: 59vh; left: 58vw;
                img {
                    width: 6.4vw;
                    height: auto;
                }
            }
            &:nth-child(19) {
                top: 56vh; left: 64.2vw;
                img {
                    width: 6.3vw;
                    height: auto;
                }
            }
            &:nth-child(20) {
                top: 52.7vh; left: 71.2vw;
                img {
                    width: 5.2vw;
                    height: auto;
                }
            }
            &:nth-child(21) {
                top: 50.3vh; left: 76.8vw;
                img {
                    width: 5.2vw;
                    height: auto;
                }
            }

    }

    #mainShape {
        position: absolute;
        z-index: 4;
        
        top: 51%;
        left: 51%;
        transform: translate(-50%, -50%); /* 向左和向上移动自身宽高的50% */
        width: 75vw;
        height: auto;
        // background-color: rgba(0, 0, 0, 0.5);
        .path {
            fill: none; /* 确保图形内部透明 */
            stroke: #fff100; /* 设置路径的颜色为黄色 */
            stroke-miterlimit: 1;
            stroke-width: 0.22rem; /* 设置路径的宽度 */
        }
        
    }
    #mainShape2 {
        position: absolute;
        z-index: 3;
        top: 49%;
        left: 49%;
        transform: translate(-50%, -50%); /* 向左和向上移动自身宽高的50% */
        width: 75vw;
        height: auto;
        
        .path {
            fill: none; /* 确保图形内部透明 */
            
            
        }
    }
    
}
}
.main{
    position: absolute;
    top: 100vh;
    width: 100%;
    
}

main{
    #overview{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $background-color;
        .overview—container{
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-bottom: 5vw;
            width: 70vw;
            .overview-title-img{
                margin-top: 3vw;
                img{
                    width: 30vw;
                    height: auto;
                
                }
            }
            p{
                width: 62vw;
                color: $font-color;
                font-family: "Hiragino Sans";
                font-size: 9.6rem;
                font-style: normal;
                font-weight: 1000;
                line-height: 126px;
                letter-spacing: 6.72px;
                margin-top: 2vw;
                margin-bottom: 1vw;   
                padding-left: 2vw;         
                z-index: 10;
                
                .custom-size {
                    font-size: 20rem; /* 或者任何你需要的大小 */
                }
                .static-color {
                    color: $main-blue; /* 设置为你想要的固定颜色 */
                    
                }
                
            }
            .reveal-type {
                color: transparent; /* 初始透明 */
                -webkit-text-stroke: 1px $font-color /* 初始边框颜色，可以调整 */
                
            }
            
        }
        .overview-bg-text{
            position: absolute;
            top: 50%;  // 将容器定位到父容器的垂直中间
            left: -8vw;   // 容器放置于最左边
            transform: translateY(-50%);  // 垂直居中对齐
            display: flex;  // 启用Flexbox布局
            flex-direction: column;  // 设置Flex方向为垂直
            span{
                width: max-content;
                color: #DFDFDF;
                font-family: "Hiragino Sans";
                font-size: 50rem;
                font-style: normal;
                font-weight: 900;
                z-index: 1;
                letter-spacing: -12px;
                writing-mode: vertical-rl;  // 设置文字垂直排列
                
            }
        }
        .overview-l1{
            position: absolute;
            top: 20%;  // 将容器定位到父容器的垂直中间
            left: -10vw;   // 容器放置于最左边
            z-index: 2;
            img{
                width: 20vw;
                height: auto;
                transform: rotate(-15deg);
                transform-origin: top left;
            }
        }
        .overview-r1{
            position: absolute;
            top: 40%;  // 将容器定位到父容器的垂直中间
            right: -5vw;   // 容器放置于最左边
            z-index: 2;
            img{
                width: 20vw;
                height: auto;
                transform: rotate(15deg);
                transform-origin: top right;
            }
        }
        .overview-l2{
            position: absolute;
            top: 60%;  // 将容器定位到父容器的垂直中间
            left: -5vw;   // 容器放置于最左边
            z-index: 2;
            img{
                width: 15vw;
                height: auto;
                transform: rotate(-10deg);
                transform-origin: top left;
                
            }
        }
        .overview-r2{
            position: absolute;
            top: 80%;  // 将容器定位到父容器的垂直中间
            right: -8vw;  // 容器放置于最左边
            z-index: 2;
            img{
                width: 15vw;
                height: auto;
                transform: rotate(15deg);
                transform-origin: top right;
            }
        }
    }

    #project-intent{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        background-color: #DCDCD2;
        padding: 10vw 20vw;
        height: 100vh;
        width: auto;
        p{
            color: $main-blue;
            font-family: "Hiragino Sans";
            font-size: 3rem;
            font-style: normal;
            font-weight: 800;
            line-height: 6rem; /* 175% */
            letter-spacing: -0.96px;
            .point-color{
                color: $main-green;
            }
        }
        .horizontal-line {
            margin-top: 2vw;
            margin-bottom: 1vw;
            display: inline-block;
            width: 1.6vw; /* 控制横线长度 */
            height:0.23vw; /* 控制横线厚度 */
            background-color: $main-green; /* 控制横线颜色 */
        }
        .project-intent-text{
            color: $main-green;
            font-family: "Hiragino Sans";
            font-size: 2rem;
            font-style: normal;
            font-weight: 800;
            letter-spacing: -0.64px;
            margin-bottom: 0.2vw;
        }
        .project-intent-director{
            color: $main-blue;
            font-family: "Hiragino Sans";
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 800;
            letter-spacing: -0.64px;
        }
        .quote-l{
            position: absolute;
            top: 16vh;
            left: 16vw;
            z-index: 1;
            img{
                width: 12vw;
                height: auto;
            }
        }
        .quote-r{
            position: absolute;
            bottom: 30vh;
            right: 16vw;
            z-index: 1;
            img{
                width: 12vw;
                height: auto;
            }
        }
    }

    #story{
        display: flex;
        flex-direction: column;
        background-color: $background-color;
        height: auto;
        width: 100vw;
        height: 100vh;
        justify-content: space-between;
        .top-content{
            display: flex;
            justify-content: space-between;
            padding: 3vw 3vw 0 3vw;
            .summary{
                width: 40vw;
                height: auto;
                h2{
                    color: $main-green;
                    font-family: AB-j_gu;
                    font-size: 9rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 4rem; /* 58.333% */
                    letter-spacing: 1.92px;
                    z-index: 10;
                }
                img{
                    margin: 1vw;
                }
                p{
                    color: $main-blue;
                    font-family: "Hiragino Sans";
                    font-size: 4rem;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 4rem; /* 87.5% */
                    letter-spacing: 1.28px;
                    width: 27vw;
                }
                
            }
            .full-story{
                width: 30vw;
                height: auto;
                p{
                    color: $main-blue;
                    font-family: "Hiragino Sans";
                    font-size: 2.3rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 3.4rem; /* 175% */
                    letter-spacing: 0.1rem;
                }
            }
        }
        .bottom-image{
            width: 100vw; /* 视口宽度 */
            height: 30vh; /* 视口高度的10% */
            background-image: url('../img/WechatIMG6863.PNG'); /* 替换为你的图片路径 */
            background-size: cover; /* 覆盖整个容器，保持图片比例 */
            background-position: 50% 40%;
            background-repeat: no-repeat; /* 不重复图片 */
        }
        
        
    }
}